<div class="bg">
  <div class="container">
    <div class="jumbotron">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
          <img src="../../assets//image//bblwide.png" height="35" class="d-inline-block align-top" style="margin-right: 20px;">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/account" routerLinkActive="active">Account
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active" style="font-weight:500;">
              <a class="nav-link" routerLink="/transfer" routerLinkActive="active">Transfer
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/promptpay" routerLinkActive="active">PromptPay Setting
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <button class="btn btn-outline-primary my-2 my-sm-0" (click)="signout()">Sign out</button>
        </div>

      </nav>
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="margin-top: 15px;">
        <li class="nav-item" style=" font-weight: 500;">
          <a class="nav-link active" id="promptpay-tab" data-toggle="tab" href="#promptpay" role="tab" aria-controls="promptpay" aria-selected="true">PromptPay</a>
        </li>
        <li class="nav-item" style=" font-weight: 500;">
          <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Account Number</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="promptpay" role="tabpanel" aria-labelledby="promptpay-tab">
          <div class="card">
            <div class="card-body">
              <form novalidate [formGroup]="promptpayForm">
                <div class="form-group">
                  <label for="acc">From Account</label>
                  <select class="form-control" id="acc" formControlName="fromAcc">
                    <option *ngFor="let acc of accountList" [ngValue]="acc">{{acc|slice:0:3}}-{{acc|slice:3:4}}-{{acc|slice:4:9}}-{{acc|slice:9:10}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="type">Select Type</label>
                  <select class="form-control border-bottom-0" id="type" formControlName="toIDType" style="border-bottom-right-radius:0;border-bottom-left-radius:0;">
                    <option value="mobile">Mobile No.</option>
                    <option value="citizen">Citizen ID</option>
                  </select>
                  <div *ngIf="promptpayForm.controls['toIDType'].value =='mobile'">
                    <input style="border-top-right-radius:0;border-top-left-radius:0;" type="text" onkeydown="javascript: return event.keyCode >=48 && event.keyCode<=57 ||event.keyCode == 8? true : false"
                      class="form-control" formControlName="toIDValue" placeholder="Enter Mobile No. here (e.g.0819081361)">
                  </div>
                  <div *ngIf="promptpayForm.controls['toIDType'].value =='citizen'">
                    <input style="border-top-right-radius:0;border-top-left-radius:0;" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                      class="form-control" formControlName="toIDValue" placeholder="Enter Citizen ID here (e.g.1101700185478)">
                  </div>
                </div>

                <div class="form-group">
                  <label for="type">Amount</label>
                  <input type="number" class="form-control" formControlName="amount" placeholder="Enter Amount here" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                </div>
                <button (click)="prepareReviewPromptpay()" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirmPromptPay"
                  [disabled]="!promptpayForm.valid">Review</button>
              </form>


            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="account" role="tabpanel" aria-labelledby="account-tab">
          <div class="card">
            <div class="card-body">
              <form novalidate [formGroup]="accountForm">
                <div class="form-group">
                  <label for="acc">From Account</label>
                  <select class="form-control" id="acc" formControlName="fromAcc">
                    <option *ngFor="let acc of accountList" [ngValue]="acc">{{acc|slice:0:3}}-{{acc|slice:3:4}}-{{acc|slice:4:9}}-{{acc|slice:9:10}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="type">To Account</label>
                  <input type="text" class="form-control" formControlName="toAcc" placeholder="Enter Account Number here (e.g.1592282902)"
                    onkeydown="javascript: return event.keyCode >=48 && event.keyCode<=57 ||event.keyCode == 8? true : false">
                </div>
                <div *ngIf="dontexist">
                  <div class="alert alert-warning" role="alert">
                    Receiver account not found.
                  </div>
                </div>
                <div class="form-group">
                  <label for="type">Amount</label>
                  <input type="number" class="form-control" formControlName="amount" placeholder="Enter Amount here" onkeydown="javascript: return event.keyCode == 69 ? false : true">                
                </div>
                <div *ngIf="insufficient">
                  <div class="alert alert-warning" role="alert">
                    Insufficient Balance
                  </div>
                </div>
                <button (click)="prepareReviewAccount()" type="button" class="btn btn-primary" [disabled]="!accountForm.valid">Review</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- move model here fix to fix bug -->
<div class="modal fade" id="confirmPromptPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <label>From Account</label>
        <!-- seperate 3-1-5-1 digit -->
        <h5>{{promptpayForm.controls['fromAcc'].value|slice:0:3}}-{{promptpayForm.controls['fromAcc'].value|slice:3:4}}-{{promptpayForm.controls['fromAcc'].value|slice:4:9}}-{{promptpayForm.controls['fromAcc'].value|slice:9:10}}</h5>
        <hr>
        <label>To Account</label>
        <h5>{{promptpayForm.controls['toAcc'].value|slice:0:3}}-{{promptpayForm.controls['toAcc'].value|slice:3:4}}-{{promptpayForm.controls['toAcc'].value|slice:4:9}}-{{promptpayForm.controls['toAcc'].value|slice:9:10}}</h5>
        <label>Account Name</label>
        <h5>{{promptpayForm.controls['toAccName'].value}}</h5>
        <hr>
        <label>Amount</label>
        <h5>{{promptpayForm.controls['amount'].value|number :'.2-2'}} Bahts</h5>
        <!-- format into 2 decimal points-->
        <label>Fee</label>
        <h5>{{promptpayTransfer.fee}}</h5>
        <!-- <div class="row">
          <div class=" col-6 float-right" style="text-align: right;">
            <label>From Account</label>
            <br>
            <label>To Account</label>
            <br>
            <label>Account Name</label>
            <br>
            <label>Amount</label>
            <br>
            <label>Fee</label>
          </div>
          <div class="col-6 float-left">
            <h5>{{promptpayTransfer.fromAcc}}</h5>
            <h5>
             1234567890</h5>
            <h5>{{promptpayTransfer.accName}}</h5>
            <h5>{{promptpayTransfer.amount}} Bahts</h5>
            <h5>{{promptpayTransfer.fee}}</h5>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="proceedTransferPromptPay()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <label>From Account</label>
        <h5>{{accountForm.controls['fromAcc'].value|slice:0:3}}-{{accountForm.controls['fromAcc'].value|slice:3:4}}-{{accountForm.controls['fromAcc'].value|slice:4:9}}-{{accountForm.controls['fromAcc'].value|slice:9:10}}</h5>
        <hr>
        <label>To Account</label>
        <div *ngIf="!hideAcc">
          <h5>{{this.accountTransfer.toAcc|slice:0:3}}-{{accountForm.controls['toAcc'].value|slice:3:4}}-{{accountForm.controls['toAcc'].value|slice:4:9}}-{{accountForm.controls['toAcc'].value|slice:9:10}}</h5>
        </div>
        <label>Account Name</label>
        <h5>{{this.accountTransfer.accName}}</h5>
        <hr>
        <label>Amount</label>
        <h5>{{this.accountTransfer.amount|number :'.2-2'}} Bahts</h5>
        <label>Fee</label>
        <h5>{{accountTransfer.fee|number :'.2-2'}} Bahts</h5>

      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="proceedTransferAccount()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="slipPromptPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content border-0">

      <div class="modal-header" style="background-color: #2ecc71">
        <h4 class="modal-title text-white text-center " style="margin: 0 auto;">Successful Transfer</h4>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class=" col-6 float-right" style="text-align: right;">
            <h6>Transaction ID</h6>
            <h6>Date</h6>
            <h6>From Account</h6>
            <h6>To Account</h6>
            <h6>Account Name</h6>
            <h6>Amount</h6>
            <h6>Fee</h6>
          </div>
          <div class="col-6 float-left">
            <h6 style="font-weight: 400;">DGEFS12D42GDDG8776</h6>
            <h6 style="font-weight: 400;">Jun 12,2018 22:13</h6>
            <h6 style="font-weight: 400;">XXXXXXXXXX</h6>
            <h6 style="font-weight: 400;">1234567890</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.accName}}</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.amount}} Bahts</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.fee}}</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color:rgb(236, 236, 236)">
        <button type="button" class="btn text-white text-center " style="margin: 0 auto; width:200px; background-color: #2ecc71;"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="slipAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content border-0">

      <div class="modal-header" style="background-color: #2ecc71">
        <h4 class="modal-title text-white text-center " style="margin: 0 auto;">Successful Transfer</h4>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class=" col-6 float-right" style="text-align: right;">
            <h6>Transaction ID</h6>
            <h6>Date</h6>
            <h6>From Account</h6>
            <h6>To Account</h6>
            <h6>Account Name</h6>
            <h6>Amount</h6>
            <h6>Fee</h6>
          </div>
          <div class="col-6 float-left">
            <h6 style="font-weight: 400;">DGEFS12D42GDDG8776</h6>
            <h6 style="font-weight: 400;">Jun 12,2018 22:13</h6>
            <h6 style="font-weight: 400;">XXXXXXXXXX</h6>
            <h6 style="font-weight: 400;">1234567890</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.accName}}</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.amount}} Bahts</h6>
            <h6 style="font-weight: 400;">{{promptpayTransfer.fee}}</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color:rgb(236, 236, 236)">
        <button type="button" class="btn text-white text-center " style="margin: 0 auto; width:200px; background-color: #2ecc71;"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- button for triggering other modals  -->
<button id="openSlipAccount" [hidden]="true" data-toggle="modal" data-target="#slipAccount"></button>
<button id="openConfirmAccount" [hidden]="true" data-toggle="modal" data-target="#confirmAccount"></button>