<div class="container">
  <form class="form-signin" novalidate [formGroup]="form">
    <img class="form-signin" src="../../assets/image/bblwide.png">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text"  class="form-control" formControlName="user" placeholder="username"  autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"  class="form-control" formControlName="password"placeholder="password" >
    <div *ngIf="showError">
        <div class="alert alert-danger" role="alert">
          Username or Password is incorrect
        </div>
      </div>
    <button class="btn btn-lg btn-primary btn-block" style="margin-top:20px;"type="button" (click)="signin()"[disabled]="!form.valid">Sign in</button>
  </form>

</div>