<div class="bg">
  <div class="container">
    <div class="jumbotron">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
          <img src="../../assets//image//bblwide.png" height="35" class="d-inline-block align-top" style="margin-right: 20px;">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/account" routerLinkActive="active">Account
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transfer" routerLinkActive="active">Transfer
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active" style="font-weight:500;">
              <a class="nav-link" routerLink="/promptpay" routerLinkActive="active">PromptPay Setting
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <button class="btn btn-outline-primary my-2 my-sm-0" (tap)="signout()">Sign out</button>
        </div>

      </nav>
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="margin-top: 15px;">
        <li class="nav-item" style=" font-weight: 500;">
          <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
        </li>
        <li class="nav-item" style=" font-weight: 500;">
          <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">Delete</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
          <div class="card">
            <div class="card-body">
              <form novalidate [formGroup]="resultForm">
                <div class="form-group">
                  <label for="acc">Select Account</label>
                  <select class="form-control" id="acc" formControlName="accNumber">
                    <option *ngFor="let acc of accountList" [ngValue]="acc">{{acc}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="type">Select Type</label>
                  <select class="form-control border-bottom-0" style="border-bottom-right-radius:0;border-bottom-left-radius:0;" id="type"
                  formControlName="idType">
                    <option value="mobile">Mobile No.</option>
                    <option value="citizen">Citizen ID</option>
                  </select>
                  <div *ngIf="resultForm.controls['idType'].value=='mobile'">
                    <input style="border-top-right-radius:0;border-top-left-radius:0;" type="text" class="form-control" formControlName="idValue" placeholder="Enter Mobile No. here (e.g.0819081361)" onkeydown="javascript: return event.keyCode >=48 && event.keyCode<=57 ||event.keyCode == 8? true : false">
                  </div>
                  <div *ngIf="resultForm.controls['idType'].value=='citizen'">
                    <input style="border-top-right-radius:0;border-top-left-radius:0;" type="number" class="form-control" formControlName="idValue" placeholder="Enter Citizen ID here (e.g.1101700185478)" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                  </div>
                </div>
                <div *ngIf="exist">
                  <div class="alert alert-warning" role="alert">
                    AnyID for IDType: [{{resultSet.idType}}], IDValue: [{{resultSet.idValue}}] already exists.
                  </div>
                </div>
                <button type="button" (tap)="resetRegisterDiv()"class="btn btn-primary" data-toggle="modal" data-target="#confirmRegister"[disabled]="!resultForm.valid">Register</button>
                <div *ngIf="registerSuccess">
                  <br>
                  <div class="alert alert-success" role="alert">
                    Successfully register PromptPay via IDType: [{{resultSet.idType}}], IDValue: [{{resultSet.idValue}}]
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
          <div class="card">
            <div class="card-body">
                <form novalidate [formGroup]="deleteForm">
              <div class="form-group">
                <label for="type">Select Type</label>
                <select class="form-control border-bottom-0" style="border-bottom-right-radius:0;border-bottom-left-radius:0;" id="type"
                formControlName="idType">
                  <option value="mobile">Mobile No.</option>
                  <option value="citizen">Citizen ID</option>
                </select>
                <div *ngIf="deleteForm.controls['idType'].value=='mobile'">
                  <input style="border-top-right-radius:0;border-top-left-radius:0;" type="text" class="form-control" formControlName="idValue" placeholder="Enter Mobile No. here (e.g.0819081361)" onkeydown="javascript: return event.keyCode >=48 && event.keyCode<=57 ||event.keyCode == 8? true : false">
                </div>
                <div *ngIf="deleteForm.controls['idType'].value=='citizen'">
                  <input style="border-top-right-radius:0;border-top-left-radius:0;" type="number" class="form-control" formControlName="idValue" placeholder="Enter Citizen ID here (e.g.1101700185478)" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                </div>
              </div>
              <div *ngIf="getError">
                <div class="alert alert-warning" role="alert">
                  {{deleteSet.idValue}} is invalid, please try again.
                </div>
              </div>
              <div *ngIf="deleteError">
                  <div class="alert alert-warning" role="alert">
                   Error occurs, please try again.
                  </div>
                </div>
              <button type="button" (tap)="resetDeleteDiv()" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" [disabled]="!deleteForm.valid">Delete</button>
              <div *ngIf="deleteSuccess">
                <br>
                  <div class="alert alert-success" role="alert">
                    Successfully cancel PromptPay with IDType: [{{resultSet.idType}}], IDValue: [{{resultSet.idValue}}]
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- move model here fix to fix bug -->
<div class="modal fade" id="confirmRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-info-sign"></span> Register PromptPay</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="resultForm.controls['idType'].value=='mobile'">
          <label>Type</label>
          <h5>Mobile</h5>
          <br>
          <label>Mobile No.</label>
          <h5>{{resultForm.controls['idValue'].value}}</h5>
          <br>
        </div>
        <div *ngIf="resultForm.controls['idType'].value=='citizen'">
          <label>Type</label>
          <h5>Citizen</h5>
          <br>
          <label>Citizen ID</label>
          <h5>{{resultForm.controls['idValue'].value}}</h5>
          <br>
        </div>
        <label>Account No.</label>
        <h5>{{resultForm.controls['accNumber'].value|slice:0:3}}-{{resultForm.controls['accNumber'].value|slice:3:4}}-{{resultForm.controls['accNumber'].value|slice:4:9}}-{{resultForm.controls['accNumber'].value|slice:9:10}}</h5>
        <br>
        <label>Account Name</label>
        <h5>{{resultSet.accName}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (tap)="register()" type="button" data-dismiss="modal" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-info-sign"></span> Delete PromptPay</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="deleteForm.controls['idType'].value=='mobile'">
          <label>Type</label>
          <h5>Mobile</h5>
          <br>
          <label>Mobile No.</label>
          <h5>{{deleteForm.controls['idValue'].value}}</h5>
          <br>
        </div>
        <div *ngIf="deleteForm.controls['idType'].value=='citizen'">
          <label>Type</label>
          <h5>Citizen</h5>
          <br>
          <label>Citizen ID</label>
          <h5>{{deleteForm.controls['idValue'].value}}</h5>
          <br>
        </div>
        <label>Account No.</label>
        <h5>{{deleteSet.accNumber}}</h5>
        <br>
        <label>Account Name</label>
        <h5>{{deleteSet.accName}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (tap)="delete()"type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>