<!-- <div class="container">
    <div class="jumbotron">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  
            <img class="navbar-brand" alt="Brand" src="../../assets//image//BBL.png">
  
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li class="navbar-brand">Bangkok Bank</li>
              <li class="active">
                <a routerLink="/account" routerLinkActive="active">Account</a>
              </li>
              <li>
                <a routerLink="/transfer" routerLinkActive="active">Transfer</a>
              </li>
              <li >
                <a routerLink="/promptpay" routerLinkActive="active">PromptPay Setting</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a (click)="signout()">Sign out</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          
        </div>
      </div>
      <div class="col-sm-6">

      </div>
     
    </div>
  </div> -->
<div class="bg">
  <div class="container">
    <div class="jumbotron">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <div class="navbar-brand" href="#">
            <img src="../../assets//image//BBL.png" width="30" height="30" class="d-inline-block align-top" alt=""> Bangkok Bank
          </div> -->
        <div>
          <img src="../../assets//image//bblwide.png" height="35" class="d-inline-block align-top" style="margin-right: 20px;">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="font-weight:500;">
              <a class="nav-link" routerLink="/account" routerLinkActive="active">Account
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transfer" routerLinkActive="active">Transfer
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/promptpay" routerLinkActive="active">PromptPay Setting
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <button class="btn btn-outline-primary my-2 my-sm-0" (click)="signout()">Sign out</button>
        </div>
      </nav>
      <div class="card" style="margin-top: 15px;">
        <div class="card-header" style=" font-weight: 500;">All Accounts
          <span style="float: right;">{{account[0].name}}</span>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card-deck" style="padding:0">

              <div class="card-body" style="padding-right: 1px;">
                <div class="card border-primary mb-3" style="max-width: 30rem;border-color: #003399;">
                  <div class="card-header text-white" style="background-color:#003399; font-weight: 500;">
                    <i class="icon ion-logo-bitcoin"></i>&nbsp;&nbsp;Savings&nbsp;&nbsp;
                    <!-- <span class="badge badge-primary">5</span> -->
                  </div>
                  <div class="card-body text-primary" style="margin-right: 0px;">
                    <h5 class="card-title">{{account[0].accountID |slice:0:3}}-{{account[0].accountID |slice:3:4}}-{{account[0].accountID |slice:4:9}}-{{account[0].accountID
                      |slice:9:10}}</h5>
                    <p class="card-text">Balance : {{account[0].balanceAmount|number :'.2-2'}} Baht
                        <span *ngIf="!isClick">
                            <a  (click)="changeArrow()"style="font-size:14px;float:right;font-weight: 500;"data-toggle="collapse" data-target="#detail0" href="#" class="badge badge-primary">Detail &#9660;</a>
                          </span>
                            <span *ngIf="isClick">
                              <a  (click)="changeArrow()"style="font-size:14px;float:right;font-weight: 500;"data-toggle="collapse" data-target="#detail0" href="#" class="badge badge-primary">Detail &#9650;</a>
                            </span>
                    </p>
                    <!-- show recent transaction -->
                    <div id="detail0" class="collapse" style="overflow-y:scroll; max-height: 250px">
                      <div *ngFor="let txn of recentTxn[0]" class="card-text">

                        <div *ngIf="txn.TxnType== 'S'"class="sStyle">
                          <p class="marginP"><span class="badge badge-pill" style="background-color:#c00000; color:#ffffff;">{{txn.CreateDTM |date:'dd MMM yy HH:mm' }}</span><span *ngIf="txn.AIPID == 0 "class="badge badge-pill badge-primary" style="float:right;background-color:#c00000; color:#ffffff;">Local Bank</span><span *ngIf="txn.AIPID != 0" class="badge badge-pill badge-primary" style="float:right;background-color:#c00000; color:#ffffff;">Inter Bank</span></p>
                          <p class="marginP" style="font-size:12px; color:#c00000;"><span style="font-weight: 500; color:#c00000;">Transfer Withdrawal</span> &nbsp;&nbsp;&nbsp;<span *ngIf="txn.AIPID == 0">{{txn.ReceiveAccountID|slice:0:3}}-{{txn.ReceiveAccountID|slice:3:4}}-{{txn.ReceiveAccountID|slice:4:9}}-{{txn.ReceiveAccountID|slice:9:10}}</span><span *ngIf="txn.AIPID!=0">{{txn.ReceiveAccountID}}</span><span style="float:right; font-size:16px;font-weight: 500; color:#c00000;">-{{txn.SubmitAmount|number :'.2-2'}}</span></p>
                        </div>
                        <div *ngIf="txn.TxnType== 'R'"class="rStyle">
                            <p class="marginP"><span class="badge badge-pill" style="background-color:#0b8000; color:#ffffff;">{{txn.CreateDTM |date:'dd MMM yy HH:mm' }}</span><span *ngIf="txn.AIPID == 0 && txn.SendBankCode =='002'"class="badge badge-pill badge-primary" style="float:right;background-color:#0b8000; color:#ffffff;">Local Bank</span><span *ngIf="txn.AIPID != 0 || txn.SendBankCode !='002'" class="badge badge-pill badge-primary" style="float:right;background-color:#0b8000; color:#ffffff;">Inter Bank</span></p>
                            <p class="marginP" style="font-size:12px; color:#0b8000;"><span style="font-weight: 500; color:#0b8000;">Transfer Deposit</span> &nbsp;&nbsp;&nbsp;<span *ngIf="txn.AIPID == 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{txn.SendAccountID|slice:0:3}}-{{txn.SendAccountID|slice:3:4}}-{{txn.SendAccountID|slice:4:9}}-{{txn.SendAccountID|slice:9:10}}</span><span *ngIf="txn.AIPID!=0">{{txn.ReceiveAccountID}}</span><span style="float:right; font-size:16px;font-weight: 500; color:#0b8000;">+{{txn.NetAmount|number :'.2-2'}}</span></p>
                          </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="card-body" style="padding-left: 1px;">
                <div class="card border-primary mb-3" style="max-width: 30rem;border-color: #003399;">
                  <div class="card-header text-white" style="background-color:#003399; font-weight: 500;">
                    <i class="icon ion-logo-bitcoin"></i>&nbsp;&nbsp;Savings</div>
                  <div class="card-body text-primary" style="margin-left: 0px;">
                    <h5 class="card-title">{{account[1].accountID |slice:0:3}}-{{account[1].accountID |slice:3:4}}-{{account[1].accountID |slice:4:9}}-{{account[1].accountID
                      |slice:9:10}}</h5>
                    <p class="card-text">Balance : {{account[1].balanceAmount|number :'.2-2'}} Baht
                      <span *ngIf="!isClick2">
                        <a  (click)="changeArrow2()"style="font-size:14px;float:right;font-weight: 500;"data-toggle="collapse" data-target="#detail1" href="#" class="badge badge-primary">Detail &#9660;</a>
                      </span>
                        <span *ngIf="isClick2">
                          <a  (click)="changeArrow2()"style="font-size:14px;float:right;font-weight: 500;"data-toggle="collapse" data-target="#detail1" href="#" class="badge badge-primary">Detail &#9650;</a>
                        </span>
                    </p>
                    <!-- show recent transaction -->
                    <div id="detail1" class="collapse" style="overflow-y:scroll; max-height: 250px">
                        <div *ngFor="let txn of recentTxn[1]" class="card-text">
  
                          <div *ngIf="txn.TxnType== 'S'"class="sStyle">
                            <p class="marginP"><span class="badge badge-pill" style="background-color:#c00000; color:#ffffff;">{{txn.CreateDTM |date:'dd MMM yy HH:mm' }}</span><span *ngIf="txn.AIPID == 0"class="badge badge-pill badge-primary" style="float:right;background-color:#c00000; color:#ffffff;">Local Bank</span><span *ngIf="txn.AIPID != 0" class="badge badge-pill badge-primary" style="float:right;background-color:#c00000; color:#ffffff;">Inter Bank</span></p>
                            <p class="marginP" style="font-size:12px; color:#c00000;"><span style="font-weight: 500; color:#c00000;">Transfer Withdrawal</span> &nbsp;&nbsp;&nbsp;<span *ngIf="txn.AIPID == 0">{{txn.ReceiveAccountID|slice:0:3}}-{{txn.ReceiveAccountID|slice:3:4}}-{{txn.ReceiveAccountID|slice:4:9}}-{{txn.ReceiveAccountID|slice:9:10}}</span><span *ngIf="txn.AIPID!=0">{{txn.ReceiveAccountID}}</span><span style="float:right; font-size:16px;font-weight: 500; color:#c00000;">-{{txn.SubmitAmount|number :'.2-2'}}</span></p>
                          </div>
                          <div *ngIf="txn.TxnType== 'R'"class="rStyle">
                              <p class="marginP"><span class="badge badge-pill" style="background-color:#0b8000; color:#ffffff;">{{txn.CreateDTM |date:'dd MMM yy HH:mm' }}</span><span *ngIf="txn.AIPID == 0"class="badge badge-pill badge-primary" style="float:right;background-color:#0b8000; color:#ffffff;">Local Bank</span><span *ngIf="txn.AIPID != 0" class="badge badge-pill badge-primary" style="float:right;background-color:#0b8000; color:#ffffff;">Inter Bank</span></p>
                              <p class="marginP" style="font-size:12px; color:#0b8000;"><span style="font-weight: 500; color:#0b8000;">Transfer Deposit</span> &nbsp;&nbsp;&nbsp;<span *ngIf="txn.AIPID == 0">{{txn.SendAccountID|slice:0:3}}-{{txn.SendAccountID|slice:3:4}}-{{txn.SendAccountID|slice:4:9}}-{{txn.SendAccountID|slice:9:10}}</span><span *ngIf="txn.AIPID!=0">{{txn.ReceiveAccountID}}</span><span style="float:right; font-size:16px;font-weight: 500; color:#0b8000;">+{{txn.NetAmount|number :'.2-2'}}</span></p>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>